<label>Filter by plugin</label>
<select class="plugin-select form-control">
    <option value="">Select</option>
    {{#each plugins}}
        <option value="{{name}}">{{title}}</option>
    {{/each}}
</select>